<<<<<<< HEAD
=======

.navbar{
    overflow: hidden;
    display:flex;
    font-size: 24px; 
    margin:1% 2% 5% 2%;
    float:right;
    justify-content:right;
}
.navbar a{
    background-color: #B35252;
    margin-left:15px;
    padding:auto 70px;
    text-align: center;
    width: 203px;
    height: 50px;
    border-radius:5px;
    text-decoration:none;
}
.navbar a:hover{
    color:rgb(105, 171, 137);
}
.navbar a:active{
    color:rgb(91, 150, 119);
}
>>>>>>> ab4a3da99fd8499fe31d75b93b5dc265df6e9215
