@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
body{
    background-color: #F8E8D0;
}

#logo{
    max-height: 15%;
    max-width: 15%;
    margin-right: 35px;
    margin-left: 5px;
    float: left;
}
.navbar{
    display:flex;
    font-family: 'Itim', cursive;
    font-size: 40px; 
    margin:1% 2% 5% 2%;
    justify-content:left;
}
.navbar a{
    margin-top: 50px;
    background-color: #B35252;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 10px;
    margin-right: 55px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: rgb(144, 60, 60);
}
.navbar a:active{
    background-color: rgb(245, 222, 150);
}


#weather{
    font-family: 'Itim', cursive;
    margin: 50px;
    margin-top: 10px;
}

.todoContainer{
    position:relative;
    z-index: 999; 
    width: 350px;
    height: 650px;

    font-family: 'Itim', cursive;
    color: #B35252;
    
    border-radius: 25px;

    float: right;

    background-color: #B35252;

    bottom: 4%;
    transform: translateY(4%);
    margin-bottom: 10%;
}
.todoItem{
    z-index: 999;
    width: 306px;
    height: 610px;

    border-radius: 25px;

    background-color: #F8E8D0;

    right: 7%;
    transform: translateX(7%);
}
#todoHead{
    margin-left: 25px;
    width:100px;
    height:40px;

    bottom: 15%;
    transform: translateY(15%);
}
.row1{
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5de96;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
}
#inputTD{
    border: none;
    outline: none;
    margin-left: 10%;
    background: transparent;

    font-family: 'Itim', cursive;
}
#butTD{
    padding: 16px 25px;
    border:none;
    outline:none;
    background: #B35252;
    color: #F8E8D0;
    cursor: pointer;
    border-radius: 40px;

    font-size: 16px;
    font-family: 'Itim', cursive;
}
#butTD:hover{
    background-color: rgb(144, 60, 60);
}
#butTD:active{
    background-color: rgb(144, 60, 60);
}
.listTD-container li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 20px;
    user-select: none;
    cursor: pointer;
}
.listTD-container li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../imgs/unchecked.png);
    background-size: cover;
    background-position: center;
    left: 20px;
}
.listTD-container li.checked{
    color: #555;
    text-decoration: line-through;
}
.listTD-container li.checked::before{
    background-image: url(../imgs/checked.png);
}

.scheContainer{
    position:relative;
    z-index: 999; 
    
    width: 350px;
    height: 650px;

    font-family: 'Itim', cursive;
    color: #B35252;

    border-radius: 25px;


    float: right;
    
    background-color: #B35252;
    margin-left: 5%;
    margin-right: 5%;

    bottom: 4%;
    transform: translateY(4%);

    margin-bottom: 10%;
}
.scheItem{
    width: 306px;
    height: 610px;

    border-radius: 25px;

    background-color: #F8E8D0;

    right: 7%;
    transform: translateX(7%);
}
#scheHead{
    margin-left: 25px;
    width:100px;
    height:40px;

    
    bottom: 15%;
    transform: translateY(15%);
}
.row2{
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f5de96;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 30px;
}
#inputSch{
    border: none;
    outline: none;
    margin-left: 10%;
    background: transparent;

    font-family: 'Itim', cursive;
}
#butSch{
    padding: 16px 25px;
    border:none;
    outline:none;
    background: #B35252;
    color: #F8E8D0;
    cursor: pointer;
    border-radius: 40px;

    font-size: 16px;
    font-family: 'Itim', cursive;
}
#butSch:hover{
    background-color: rgb(144, 60, 60);
}
#butSch:active{
    background-color: rgb(144, 60, 60);
}
.listSch-container li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 20px;
    user-select: none;
    cursor: pointer;
}
.listSch-container li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../imgs/unchecked.png);
    background-size: cover;
    background-position: center;
    left: 20px;
}
.listSch-container li.checked{
    color: #555;
    text-decoration: line-through;
}
.listSch-container li.checked::before{
    background-image: url(../imgs/checked.png);
}

#moodBar{
    height: 100px;
    width: 275px;
    background-color: #B35252;
    border-radius: 10px;
    justify-content: center;
    margin-top: 0;
    margin-left: 50px;
    padding-left: 28px;
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 5px;
}
#moodq{
    font-family: 'Itim', cursive;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 0;
    padding-bottom: 0px;
    left: 5%;
    top: 5%;
    transform: translateY(5%);
    transform: translateX(-5%);
    margin: 0;
}
#angyButton{
    height: 75px;
    width: 75px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    float: left;
    margin-right: 10px;
    border-color: transparent;
}
#angry{
    max-width: 57%;
    max-height: 57%;
    position: absolute;
    top: 24%;
    left: 60%;
    transform: translateY(-24%);
    transform: translateX(-60%);
}
#midButton{
    height: 75px;
    width: 75px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    float: left;
    margin-right: 10px;
    border-color: transparent;
}
#mid{
    max-width: 65%;
    max-height: 65%;
    position: absolute;
    top: 10%;
    left: 60%;
    transform: translateY(10%);
    transform: translateX(-60%);
}
#happyButton{
    height: 75px;
    width: 75px;
    background-color: transparent;
    border-radius: 50%;
    position: relative;
    float: left;
    margin-right: 0px;
    border-color: transparent;
}
#happy{
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 16%;
    left: 45%;
    transform: translateY(-16%);
    transform: translateX(-45%);
}
