@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{
    background-color: #F8E8D0;
    font-family: 'Itim', cursive;

}
.finTracker{
    animation: pageTransition .80s;
}

#logo{
    max-height: 15%;
    max-width: 15%;
    margin-right: 35px;
    margin-left: 5px;
    float: left;
}

.navbar{
    display:flex;
    font-family: 'Itim', cursive;
    font-size: 40px; 
    margin:1% 2% 5% 2%;
    justify-content:left;
}
.navbar a{
    margin-top: 50px;
    background-color: #B35252;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 10px;
    margin-right: 55px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: rgb(144, 60, 60);
}
.navbar a:active{
    background-color: rgb(245, 222, 150);
}

.balanceContainer{
    display:flex;
    flex-direction: column;
    line-height: .5;
    
    margin: 7% 3% 7% 5%;
    padding: 2% 3% 0% 3%;
    background-color: rgb(245, 222, 150);
    border-radius: 30px;
    width:25%;
    height:230px;
}

.para{
    display:flex;
    gap: 15%;
}

h1{
    font-size: 33px;
    color:rgb(144, 60, 60);
}

h2{
    font-size: 20px;
    color:rgb(144, 60, 60);
}


p{
    font-size: 20px;
}

#expense-form{
    width:90%;
    display:flex;
    gap: 8%;
    margin: 0% 10% 0 5%;



}
table{
    color:rgb(144, 60, 60)
}


.transactionsContainer{
    padding: 1% 2% 20%;
    background-color: rgb(245, 222, 150);
    border-radius: 30px;
    margin-bottom: 10%;
    margin-top:0%;
    width:50%;
    height:200px;
    

    font-family: 'Itim', cursive;

}
.finTracker{
    width:100%;
    display:flex;
    flex-direction: row;
    gap: 10px;
    
}
.expense-table{
    margin-top: 5%;
    width:95%;
    
    
}

input{
    font-size: 22px;
    border: none;

    padding: 5px 10px;
    border-radius: 10px;
    font-family: 'Itim', cursive;
}
#expense-name{
    width: 200px;
    align-items:left ;
}

#expense-amount{
    font-size: 22px;
    width: 150px;
    border: none;

    padding: 5px 10px;
    border-radius: 10px;
    font-family: 'Itim', cursive;
}

#addButton{
    color:white;
    
    padding:5px 20px;
    margin-left:50px;
    border-radius: 10px;
    border:none;
    background-color: rgb(144, 60, 60);

    font-family: 'Itim', cursive;
    font-size: 25px;
}

#addButton:hover{
    background-color: rgb(105, 35, 35);
}



table{
    width: 100%;
}

.expense-table{
    margin: 5%;
    text-align: left;
    font-size: 22px;
}

thead{
    border-radius: 50px;
    text-decoration: underline;

}



.delete-btn{
    padding-left:25px;
    color: rgb(144, 60, 60);
    text-align: center;
    
}

.delete-btn:hover{
    color: rgb(75, 24, 24);

}

#transacTitle{
    margin: 30px 30px;
}


.bar{
    display: flex;
    justify-content: center;
    background-color: rgb(144, 60, 60);

    border-radius: 20px;
    margin-top: 10%;

    width:80%;
    height:5px;
    padding: 2% 10%;
}



@keyframes pageTransition{
    from{
        opacity:0;
        transform: translateX(1vh);

    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}

@keyframes pageTransition{
    from{
        opacity:0;
        transform: translateX(1vh);

    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}