@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
body{
    background-color: #F8E8D0;
}
.bigContainer{
    animation: pageTransition .80s;
}

#logo{
    max-height: 15%;
    max-width: 15%;
    margin-right: 35px;
    margin-left: 5px;
    float: left;
}


.navbar{
    display:flex;
    font-family: 'Itim', cursive;
    font-size: 40px; 
    margin:1% 2% 5% 2%;
    justify-content:left;
}
.navbar a{
    margin-top: 50px;
    background-color: #B35252;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 10px;
    margin-right: 55px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: rgb(144, 60, 60);
}
.navbar a:active{
    background-color: rgb(245, 222, 150);
}

.journalContainer{
    background-color: #F8E8D0;
    width:100%;
}
#entryForm{
    display:flex;
    flex-direction:column;
    width:75%;

    padding-top: 20px;
    

    font-family: 'Itim', cursive;
    color: rgb(179, 82, 82);
    background-color: #F8E8D0;
}


input{
    margin:20px;
    padding:30px 30px 30px 20px;
    font-size:25px;
    font-family: 'Itim', cursive;
    border:0px;
}

label{
    font-size: 50px;
    margin:30px;
}

textarea{
    margin:20px;
    padding:30px 30px 30px 20px;
    font-size:25px;
    font-family: 'Itim', cursive;
    border:0px;
}

button {
    margin:20px;
    padding:15px 15px;
    font-size:25px;
    font-family: 'Itim', cursive;
    border:0px;
    text-align: center;
}

@keyframes pageTransition{
    from{
        opacity:0;
        transform: translateX(1vh);

    }
    to{
        opacity:1;
        transform:translateX(0);
    }
}


