@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body{
    background-color: rgb(247, 235, 217);
}

#weather{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.homeContainer{
    display:flex;
    flex-direction:column;
    width:99%;

    padding-top: 20px;
    align-items: center;
    justify-content:center;

    font-family: 'Itim', cursive;
    color: rgb(179, 82, 82);


    
}

#currentDate{
    margin: 50px 0 10px 0;
    font-size:110px;
    text-align:center;

}

#welcome{
    font-size:75px;
    margin-top:0;
}

#theDenLogo{
    width: 30%;
    margin-top: 0%;
    background: url("imgs/TheDenLogo.png");

}


.bottomRow{
    padding-left:30%;
    display:flex;
    flex-direction: row;
    width:70%;
    justify-content: center;
}
#homeButton{
    background-color: rgb(179, 82, 82);
    border-radius: 100%;
    border: none;
    padding: 20px;

    float: right;
    height:20%;
    margin-left: 30%;
}

#homeButton:hover{
    background-color: rgb(144, 60, 60);
}


#rightArrow{
    width: 50px;
