@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
body{
    background-color: #F8E8D0;
}

#logo{
    max-height: 15%;
    max-width: 15%;
    margin-right: 35px;
    margin-left: 5px;
    float: left;
}

.navbar{
    display:flex;
    font-family: 'Itim', cursive;
    font-size: 40px; 
    margin:1% 2% 5% 2%;
    justify-content:left;
}
.navbar a{
    margin-top: 50px;
    background-color: #B35252;
    color: white;
    padding: 30px;
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 10px;
    margin-right: 75px;
    text-decoration: none;
}
.navbar a:hover{
    background-color: rgb(144, 60, 60);
}
.navbar a:active{
    background-color: rgb(245, 222, 150);
}
.big-container{
    display:flex;
    justify-content: center;
    width:100%;
    align-items: center;
}
.diary-container{
    display: flex;
    position:sticky;
    justify-content:center;
    grid-auto-flow: column;
    width:1100px;
    height:475px;
    background-color: #F5DE96;
    border-radius: 20px;
    margin-right:100px;
    font-family: 'Itim', cursive;
    font-size: 20px;
    color:#B35252;
    column-gap: 20px;
}
.diary-item{
    padding:5px 45px 85px;
    top: 6%;
    bottom: 10%;
    height: 70%;
    position:relative;
    background-color: #F8E8D0;
    border-radius: 10px;
}

#pot{
    position: relative;
    bottom:-220px;
    right:190px;
    width:12%;
    height:12%;
}
